<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 hero-text-container">
        <h1 class="display-3 fw-bold text-dark">Unlock Your Potential</h1>
        <p class="fs-4 col-md-10 text-muted mt-3">Join a community of learners and take your skills to the next level with our expert-led courses.</p>
        {% if user.is_authenticated %}
          <a href="{% url 'dashboard' %}" class="btn-hero-wrapper mt-4">
            <button class="btn-hero-final"> 
                Go to Dashboard
            </button>
          </a>
        {% else %}
          <a href="{% url 'signup' %}" class="btn-hero-wrapper mt-4">
            <button class="btn-hero-final">Get Started Now</button>
          </a>
          {% endif %}
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0 hero-image-container">
        <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2070&auto-format&fit=crop" 
             alt="Developer coding on a laptop" 
             class="img-fluid hero-image">
      </div>
    </div>
  </div>
</section>